extends ../layout/main

block variables
  - var title = 'Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';
  - var prodInfo = "№1 на рынке<br>Работаем с 2016 года";
